body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
/*  font-weight: bold;*/
  color: #000000;
  text-transform: uppercase;
  background-color: #f0f0f0;
}

.hidden{
  display: none;
}

main {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  margin: 0px;
  padding: 0px;
  padding-bottom: 20px;
}

.container {
  width: 1200px;
  margin: 0px auto;
}

a {
  text-decoration: none;
  color: #000000;
}

.main-heder {
  font-size: 14px;
  line-height: 26px;
  background-color: #ffffff;
}

.navigation-list {
  font-weight: bold;
}

.page-header-bottom {
  background-color: #ffffff;
  background-image: url("../img/background-photo.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  border: none;
}

.text-welcom {
  background-image: url("../img/polygon.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  text-align: center;
}

.text-welcom img {
  padding: 100px;
  width: 459px;
  height: 353px;
}

h2 {
  font-size: 21px;
}


.desk h2 {
  font-size: 30px;
  line-height: 36px;
}

.desk p {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
}

.desk .search {
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #766357
}

.search-card {
  font-size: 14px;
  line-height: 26px;
}

.search-button {
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #81b3d2
}

.social-networks ul {
  list-style: none;
}

.visitsed .copyright {
  font-size: 21px;
  line-height: 26px;
}

.search:hover {
  background-color: #604e43
}

.search:active {
  background-color: #503e33;
  color: #928a85
}

input[type=text] {
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  background-color: #f2f2f2;
}

input[type=text]:hover {
  background-color: #ebebeb
}

input[type=text]:focus {
  background-color: #ffffff
}

.input-control {
  margin: 0px;
  border: none;
  color: #a9a9a9
}

.input-control:hover {
  color: #000000
}

.input-control:active {
  color: #81b3d2
}

/* Поля с датой */
.field-date {
  position: relative;
  display: inline-block;
  height: 36px;
}

.field-date input {
  padding: 0px 15px;
  line-height: 36px;
  height: 36px;
}

.field-date a {
  border: none;
  border-width: 0px;
  ;
}

.field-date .calendar {
  position: absolute;
  top: 5px;
  right: 5px;
}

/* Поля c цифрами */
.field {
  padding: 0px;
  display: inline-block;
}

.field input,
.field button {
  padding: 0px 15px;
  height: 36px;
  border: none;
  border-width: 0px;
  background-color: #f2f2f2;
}

.search-button {
  background-color: #81b3d2 color:#ffffff
}

.search-button:hover {
  background-color: #669ec0
}

.search-button:active {
  background-color: #5496bd
}



.more {
  background-color: #81b3d2
}

.more:hover {
  background-color: #669ec0
}

.more:active {
  background-color: #5496bd
}

.armor {
  background-color: #766357
}

.armor:hover {
  background-color: #604e43
}

.armor:active {
  background-color: #503e33;
  color: #928a85
}

.hotel-title {
  color: #000000
}

.hotel-title:hover {
  color: #81b3d2
}

.hotel-title:active {
  color: #cacaca
}

.logo-htmlacademy {
  vertical-align: middle;
  background: url(../img/htmlacad-logo.png);
  display: inline-block;
  width: 115px;
  height: 41px;
  margin-left: 3px;
}

.logo-htmlacademy:hover {
  background: url(../img/htmlacad-logo-blue.png);
}

.logo-htmlacademy:active {
  background: url(../img/htmlacad-logo-grey.png);
}

/* Base */

/* Common */

/* Header */

.main-nav{
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
}

.main-nav ul{
  margin: 0px;
  padding: 0px;
}
.main-nav ul li{
 list-style: none;
 display: inline-block;
 padding-top: 20px;
}

.main-nav ul li a {
  padding-top:20px;
}

.navigation-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/* Logo */

/* Slogan */
.slogan {
  text-align: center;
}
.slogan h2 {
  line-height: 26px;
}

.slogan p {
  font-size: 14px;
  line-height: 26px;
  background-color: #ffffff;
  font-weight: normal;
}

/* Reasons */

.reasons-item {
  width: 400px;
}

.reason-city {
  display: flex;
  flex-direction: row;
  text-align: center;

  background-image: url(../img/house.jpg);
  background-position: bottom right;
}

.reason-city .reasons-item {
  background-color: #81b3d2;
  color: #FFF;
}

.reasons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.reason-bridge {
  display: flex;
  flex-direction: row-reverse;
  text-align: center;

  background-image: url(../img/mountain.jpg);
  background-position: bottom left;
}

.reason-bridge .reasons-item {
  background-color: #81b3d2;
  color: #FFF;
}

.reasons-two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  background-color: #eee;
}


/* Desk */

.desk > h2{
  text-align: center;
}
.desk > p{
  text-align: center;
}

.search-wrapper{
  position: relative;
  width: 566px;
  margin:0px auto;
}

.search {
  width: 100%;
  text-align: center;
  padding: 30px 0px;
}

.search-wrapper .search-card{
 position: absolute;
 top:90px;
 left:0px;
 background-color: #FFF;
 padding: 55px;
 width: 456px;
}

.form-line{
  display: flex;
  margin-bottom: 20px;
}


.search-button{
  width: 100%;
  border: 0px;
}

/* Map */

.map{
  height: 473px;
  width: 100%;

  background: url(../img/map.jpg);
}


/* Hotels */

.hotels-list{
  display: flex;
  flex-direction: column;
}

.hotels-item{
display: flex;
flex-direction: row;
justify-content: space-between;
}

/* Footer */

.main-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.social-item {
  display: inline-block;
  vertical-align: middle;

  width: 40px;
  height: 40px;

  text-align: center;
  vertical-align: middle;

  background-color: #81b3d2
}

.social-item:hover {
  background-color: #669ec0
}

.social-item:active {
  background-color: #5496bd
}

.social-link {
  display: inline-block;
  vertical-align: middle;
}

