/* Общие стили для тега body */
body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  background-color: #f0f0f0;
}

/* Невидимый заголовок h1 */
.hidden {
  display: none;
}

.page {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  margin: 0px;
  padding: 0px;
  padding-bottom: 20px;
}

/* Стили для тега main */
main {
  margin: 0px;
  padding: 0px;
}

/* Надпись Welcome на главной странице index */
.inscription-welcom {
  padding-top: 75px;
  padding-bottom: 80px;
}

/* Иконки (бургер,дом,подарок) */
.icon-reasons {
  padding-top: 56px;
}

/* Все что находится в теге main-container */
.container {
  width: 1200px;
  margin: 0px auto;
  padding: 0px;
}

/* Все ссылки */
a {
  text-decoration: none;
  color: #000000;
}

/* Панель меню и логотип начало */
.main-heder {
  font-size: 14px;
  line-height: 26px;
  background-color: #ffffff;
}

.page-header-top {
  height: 56px;
}

/* Поведение элементов в меню */
.navigation-list {
  font-weight: bold;
}

.navigation-item: {
  color: #000000
}

.navigation-item:hover a {
  color: #81b3d2
}

.navigation-item:active a {
  color: #cecece
}

.navigation-item.current a {
  color: #766357
}

/* Панель меню и логотип конец */
/* Картинка с background и надпись welcome начало */
.page-header-bottom {
  background-color: #ffffff;
  background-image: url("../img/background-photo.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  border: none;

}

.text-welcom {
  background-image: url("../img/polygon.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  text-align: center;
}

.text-welcom img {
  padding: 100px;
  width: 459px;
  height: 353px;
}

h2 {
  font-size: 21px;
}

/* Картинка фон и надпись welcome конец*/
/* Форма поиска начало */
.desk h2 {
  font-size: 30px;
  line-height: 36px;
}

.desk p {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
}

.desk .search {
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #766357
}

.search-card {
  font-size: 14px;
  line-height: 26px;
}

.search-button {
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #81b3d2
}

.social-networks ul {
  list-style: none;
}

.visitsed .copyright {
  font-size: 21px;
  line-height: 26px;
}

.search:hover {
  background-color: #604e43
}

.search:active {
  background-color: #503e33;
  color: #928a85
}

input[type=text] {
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  background-color: #f2f2f2;
}

input[type=text]:hover {
  background-color: #ebebeb
}

input[type=text]:focus {
  background-color: #ffffff
}

.input-control {
  margin: 0px;
  border: none;
  color: #a9a9a9
}

.input-control:hover {
  color: #000000
}

.input-control:active {
  color: #81b3d2
}

/* Поля с датой */
.field-date {
  position: relative;
  display: inline-block;
  height: 36px;
}

.field-date input {
  padding: 0px 15px;
  line-height: 36px;
  height: 36px;
}

.field-date a {
  border: none;
  border-width: 0px;
  ;
}

.field-date .calendar {
  position: absolute;
  top: 5px;
  right: 5px;
}

/* Поля c цифрами */
.field-text {
  padding: 0px;
  display: inline-block;
}

.field-text input,
.field-text button {
  padding: 0px 15px;
  height: 36px;
  border: none;
  border-width: 0px;
  background-color: #f2f2f2;
}

.search-button {
  background-color: #81b3d2 color:#ffffff
}

.search-button:hover {
  background-color: #669ec0
}

.search-button:active {
  background-color: #5496bd
}

/* Форма поиска конец */
/* Карточки отелей в hotels.html начало кнопки ПОДРОБНЕЕ И ЗАБРОНИРОВАТЬ*/
.more {
  background-color: #81b3d2;
  color: #ffffff
}

.more:hover {
  background-color: #669ec0;
  color: #ffffff
}

.more:active {
  background-color: #5496bd;
  color: #ffffff
}

.armor {
  background-color: #766357;
  color: #ffffff
}

.armor:hover {
  background-color: #604e43;
  color: #ffffff
}

.armor:active {
  background-color: #503e33;
  color: #928a85
}

.hotel-title {
  color: #000000
}

.hotel-title:hover {
  color: #81b3d2
}

.hotel-title:active {
  color: #cacaca
}

/* Карточки отелей в hotels.html конец*/

/* Стили для меню навигации*/
.main-nav {
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
}

.main-nav ul {
  margin: 0px;
  padding: 0px;
}

.main-nav ul li {
  list-style: none;
  display: inline-block;
  padding-top: 20px;
}

.main-nav ul li a {
  padding-top: 20px;
}

.navigation-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/* Слоган главной страницы начало */
.slogan {
  text-align: center;
}

.slogan h2 {
  line-height: 26px;
}

.slogan p {
  font-size: 14px;
  line-height: 26px;
  background-color: #ffffff;
  font-weight: normal;
}

/* Слоган главной страницы конец */
/* 5 причин начало */

.reasons-item {
  width: 400px;
}

.reason-city {
  display: flex;
  flex-direction: row;
  text-align: center;
  background-image: url(../img/house.jpg);
  background-position: bottom right;
}

.reason-city .reasons-item {
  background-color: #81b3d2;
  color: #FFF;
}

.reasons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.reason-bridge {
  display: flex;
  flex-direction: row-reverse;
  text-align: center;

  background-image: url(../img/mountain.jpg);
  background-position: bottom left;
}

.reason-bridge .reasons-item {
  background-color: #81b3d2;
  color: #FFF;
}

.reasons-two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  background-color: #eee;
}

/* 5 причин конец */

/* Форма обратной связи начало */

.desk>h2 {
  text-align: center;
}

.desk>p {
  text-align: center;
}

.search-wrapper {
  position: relative;
  width: 566px;
  margin: 0px auto;
}

.search {
  width: 100%;
  text-align: center;
  padding: 30px 0px;
}

.search-wrapper .search-card {
  position: absolute;
  top: 90px;
  left: 0px;
  background-color: #FFF;
  padding: 55px;
  width: 456px;
}

.form-line {
  display: flex;
  margin-bottom: 20px;
}


.search-button {
  width: 100%;
  border: 0px;
}

/* Форма обратной связи конец */

/* Карта */

.map {
  height: 473px;
  width: 100%;

  background: url(../img/map.jpg);
}


/* Отели в hotels.html */

.hotels-list {
  display: flex;
  flex-direction: column;
}

.hotels-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Футер */

.main-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.social-item {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;

  background-color: #81b3d2
}

.social-item:hover {
  background-color: #669ec0
}

.social-item:active {
  background-color: #5496bd
}

.social-link {
  display: inline-block;
  vertical-align: middle;
}

.footer-logo {
  font-weight: 700;
}

.copyright {
  font-weight: 700;
}

/* Логотип академии в футоре начало*/
.logo-htmlacademy {
  vertical-align: middle;
  background: url(../img/htmlacad-logo.png);
  display: inline-block;
  width: 115px;
  height: 41px;
  margin-left: 3px;
}

.logo-htmlacademy:hover {
  background: url(../img/htmlacad-logo-blue.png);
}

.logo-htmlacademy:active {
  background: url(../img/htmlacad-logo-grey.png);
}

/* Логотип академии в футоре конец*/
/* Футер конец */

/* Форма поиска отеля начало */
.search-card-hotels {
  background-image: url(../img/filter-background.jpg)
}

/* Форма стоимости в сутки */
.filter-range {
  width: 330px;
  margin: 50px auto;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

/* Форма поиска отеля конец */

/* Форма поиска жилья в hotels.html начало */
.filter fieldset {
  border: none;
}

.search-card-hotels {
  color: #ffffff
}

/* Форма поиска жилья в hotels.html конец */


/* Сортировка */
.sorting {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  vertical-align: middle;
}

.found {
  margin-left: 20px;
  margin-right: 20px;
}

.sorting-list {
  flex-grow: 1;
}

.sorting-list li {
  display: inline-block;
  list-style: none;
  margin: 0px 20px;
}

.sorting-deriction {
  margin-left: 20px;
  margin-right: 20px;
}
